In [7]:
import numpy as np
import pandas as pd

In [8]:
data=pd.read_csv('ADX_Sample_data.csv')

In [10]:
data['show_rate']=(data['ae_impressions']/data['ae_responses'])*100
data['click_rate']=(data['ae_clicks']/data['ae_impressions'])*100

# Analysis for app id 16243270

In [50]:
app_16243270=data[data['app_id']==16243270]

In [15]:
app_16243270=app_16243270.groupby(['date']).sum()

C:\Users\Sct\AppData\Local\Temp\ipykernel_12380\1904542976.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  app_16243270=app_16243270.groupby(['date']).sum()

# Outlier/anomaly can be any value beyond 1.5 IQR. So, calculate median and IQR and find the outliers for different columns.

# **Analysis on Request**

In [51]:
request=app_16243270.loc[:,['requests']].sort_values(by='requests')

In [18]:
request.describe()

           requests
count     15.000000
mean    9605.266667
std    10650.653310
min       19.000000
25%     1795.000000
50%     6894.000000
75%    14386.500000
max    34277.000000

In [19]:
Q1=request.requests.quantile(0.25)
Q3=request.requests.quantile(0.75)
(Q1,Q3)

(1795.0, 14386.5)

In [20]:
IQR=Q3-Q1
lower_limit=Q1-1.5*IQR
upper_limit=Q1+1.5*IQR
(lower_limit,upper_limit)

(-17092.25, 20682.25)

# **Outlier For Reqeust Column**

In [21]:

request[(request.requests<lower_limit)|(request.requests>upper_limit)]

            requests
date
2022-10-29     28762
2022-10-28     34277

# **Outlier For Response Column**

In [26]:
response[(response.ae_responses<lower_limit)|(response.ae_responses>upper_limit)]

            ae_responses
date
2022-10-29         27897
2022-10-28         33539

# **Outlier For Impressions Column**

In [31]:
impressions[(impressions.ae_impressions<lower_limit)|(impressions.ae_impressions>upper_limit)]

            ae_impressions
date
2022-10-29           22469
2022-10-28           27288

# **Outlier For Clicks Column**

In [36]:
clicks[(clicks.ae_clicks<lower_limit)|(clicks.ae_clicks>upper_limit)]

            ae_clicks
date
2022-10-21        560
2022-10-23        697
2022-10-22        996

# **Outlier For Revenue Column**

In [41]:
revenue[(revenue.ae_revenue<lower_limit)|(revenue.ae_revenue>upper_limit)]

             ae_revenue
date
2022-10-24   642.591738
2022-10-28  1194.678612

# **Outlier For Show Rate Column**

In [45]:
show_rate[(show_rate.show_rate<lower_limit)|(show_rate.show_rate>upper_limit)]

              show_rate
date
2022-10-29  6361.272280
2022-10-28  7867.361848

# **Outlier For click rate Column**

In [49]:

click_rate[(click_rate.click_rate<lower_limit)|(click_rate.click_rate>upper_limit)]

            click_rate
date
2022-10-21  158.585088
2022-10-23  239.578005
2022-10-22  487.879310